<div class="login_wrapper" style="color:#ffffff">
    <div class="animate form login_form">
        <section class="login_content">

            <h1>LER</h1>

            <form name="recoveryPasswordForm" style="padding:10px" block-ui="recoveryPasswordBox">

                <div ng-show="!recovery.token">
                    <div ng-show="!emailSent">
                        <div>
                            <input name="email" ng-model="recovery.email" type="email" class="form-control" placeholder="Email" required="" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-default" ng-click="recoveryPassword()" ng-disabled="recoveryPasswordForm.email.$invalid">Recovery password</button>
                        </div>
                    </div>
                    <div ng-show="emailSent">
                        An email was sent to you with instructions to reset your password.
                    </div>
                </div>

                <div ng-show="recovery.token">
                    <div>
                        <input name="password" type="password" class="form-control" ng-model="recovery.newPassword"
                               placeholder="Password" password-check="recovery.passwordConfirmation" required/>
                    </div>
                    <div>
                        <input type="password" class="form-control" ng-model="recovery.passwordConfirmation"
                               placeholder="Password confirmation" required/>
                    </div>
                    <div>
                        <button type="button" class="btn btn-default" ng-click="resetPassword()" ng-disabled="recoveryPasswordForm.password.$invalid">Save password</button>
                    </div>
                </div>

            </form>
            <div class="clearfix"></div>

            <div class="separator"></div>

            <div>

                <div class="alert alert-danger" ng-if="loginError">
                    <div ng-if="loginError == 400">
                        Invalid email
                    </div>
                    <div ng-if="loginError == 401">
                        Invalid token, please start password recovery process again
                    </div>
                    <div ng-if="loginError != 400 && loginError != 401">
                        Oh Gosh!
                    </div>
                </div>

                <div class="clearfix"></div>
                <br />

                <div>
                    <p>©2016 All Rights Reserved</p>
                </div>
            </div>
        </section>
    </div>
</div>